@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #000000f5;
}

.container {
  display: flex;
  row-gap: 15px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.container .image {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: -1;
  opacity: 0.5;
}

.container::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.container .time-content {
  display: flex;
  column-gap: 30px;
  align-items: center;
}

.time-content .time {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.time .number,
.time .text {
  font-weight: 500;
  color: #ffffff;
}

.time .number {
  font-size: 50px;
}

.time .text {
  text-transform: capitalize;
  font-size: 15px;
}

@media screen and (max-width: 300px) {
  .container header {
    font-size: 50px;
  }
}
